$main_blue:#646be3;
$sub_blue: #f8f8ff;

$main_red: #ff4d4d;
$sub_blue: #fffafa;

$gray12: #121212;
$gray34: #343434;
$gray56: #565656;
$gray78: #787878;
$gray90: #909090;
$grayab: #ababab;
$graycd: #cdcdcd;
$grayef: #efefef;
$white: #ffffff;
